footer {
  padding: 20px 0;
  color: var(--color1);
  text-align: center;
}

footer a {
  color: var(--color2);
  text-decoration: none;
  margin: 0 10px;
}
  .footer-icon {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .footer-icon:hover {
    color: var(--color1); 
    transform: scale(1.2); 
  }
  