  .card { 
    aspect-ratio: 1 / 1; 
    background: var(--smoke);
    border: 3px solid var(--color1);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
    opacity: .2;
    
  }

  .card .card-link {
    opacity: 0; 
  }

  .card:hover .card-link {
    opacity: 1;
    color: var(--dark);
    background-color: var(--smoke);
    
  }

  .card .card-title {
    opacity: 0;
  }

  .card:hover .card-title {
    opacity: 1;
    color: var(--dark);
    background-color: var(--smoke);
  }

  h5.card-title {
    font-weight: bolder;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 2.5rem;
  }